.error {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eaeaea;
}

.errorText {
    font-size: 30px;
}

.errorDescritpion {
    font-size: 16px;
}
