@font-face {
  font-family: Comfortaa;
  src: local("Comfortaa"), url("../fonts/Comfortaa-Light.woff")format("woff"), url("../fonts/Comfortaa-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100%;
  height: 100%;
  background: #1C1C1C;
  padding: 0;
  margin: 0;
  font-family: "Comfortaa", "Trebuchet MS", serif;
}

main {
  min-height: calc(100vh - 260px);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../public/mainBg.svg") no-repeat center;
  background-size: contain;
}

footer {
  height: 50px;
  width: auto;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 1.5rem 0;
  justify-content: center;
  align-items: center;
  font-family: "Comfortaa", serif;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.5);

}

h2 {
  color: #eaeaea;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  margin: 5px;
}