body {
  background: #1C1C1C;
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", serif;
}

main {
  min-height: calc(100vh - 300px);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  position: center;
  height: 100px;
  width: auto;
  background: #282828;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 1.5rem 0;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 16px;
  color: #eaeaea;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
