.wrapper {
    height: 200px;
    background: url("../public/geometry.png") no-repeat top;
    background-size: contain;
}

.header {
    padding: 1rem 2rem;
    position: absolute;
    display: flex;
    overflow: hidden;
    justify-content: center;
    width: 100%;
}