.wrapper {
    max-width: 1650px;
    width: 100%;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
    padding-bottom: 10px;
}

.tabs {
    display: flex;
    flex-direction: row;
    color: #eaeaea;
    padding: 0 2rem 0 2rem;
}

.table {
    background: linear-gradient(107.64deg, rgba(255, 255, 255, 0.28) 1.92%, rgba(255, 255, 255, 0) 100.84%);
    border: 1px inset #eaeaea;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

.bg {
    border-radius: 5px;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.7rem 1rem 0.7rem 1rem;
}

.cardButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0.5rem 0;
}

.link:hover {
    color: #ff7eb9;
    transition: color 0.2s ease;
    cursor: pointer;
}
