.participantsList {
    color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 40px;
}

.tableContainer {
    max-width: 1200px;
    width: calc(100% - 100px);
    padding: 1rem 3rem 3rem 3rem;

}

.table {
    background: linear-gradient(107.64deg, rgba(255, 255, 255, 0.28) 1.92%, rgba(255, 255, 255, 0) 100.84%);
    border: 1px inset #eaeaea;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

.avatar {
    border-radius: 7px;
}

.loading {
    color: #eaeaea;
    font-size: 24px;
}

.profileLink:hover {
    color: #ff7eb9;
    transition: color 0.2s ease;
    cursor: pointer;
}