.wrapper {
    display: block;
    max-width: 1500px;
    width: calc(100% - 100px);
    color: #eaeaea;
    padding: 0 3rem 0 3rem;

}

.tabs {
    display: block;
    max-width: 1150px;
    width: calc(100% - 100px);
    color: #eaeaea;
}

.tableContainer {
    padding-top: 1rem;
}

.table {
    background: linear-gradient(107.64deg, rgba(255, 255, 255, 0.28) 1.92%, rgba(255, 255, 255, 0) 100.84%);
    border: 1px inset #eaeaea;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

.users {
    display: inline;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
}


.user1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.regButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.avatar {
    border-radius: 5px;
}

.users:hover {
    color: #ff7eb9;
    transition: color 0.2s ease;
    cursor: pointer;
}

.link:hover {
    color: #ff7eb9;
    transition: color 0.2s ease;
    cursor: pointer;
}