.wrapper {
    display: block;
    max-width: 1500px;
    width: 100%;
    color: #eaeaea;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.7rem 1rem 0.7rem 1rem;

}

.cardRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cardButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0.5rem 0;
}

.bracketButton {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;
}

.qualsResultsButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.staffButtonGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 10px;
    padding-bottom: 10px;
}

.tabs {
    display: flex;
    flex-direction: row;
    color: #eaeaea;
    padding: 0 2rem 0 2rem;
}

.table {
    background: linear-gradient(107.64deg, rgba(255, 255, 255, 0.28) 1.92%, rgba(255, 255, 255, 0) 100.84%);
    border: 1px inset #eaeaea;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

.users {
    display: inline;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.avatar {
    display: flex;
    position: absolute;
    border-radius: 5px;
}

.winner {
    font-size: 18px;
    font-weight: bold;
    color: #34c924;
}

.looser {
    font-size: 18px;
    font-weight: bold;
    color: #F71313;
}

.users:hover {
    color: #ff7eb9;
    transition: color 0.2s ease;
    cursor: pointer;
}

.link:hover {
    color: #ff7eb9;
    transition: color 0.2s ease;
    cursor: pointer;
}